body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 128, 0);
}

button {
    background-color: rgb(0, 100, 0);
    border-color: #00ff00;
    color: rgb(0, 255, 0);
    border-radius: 6px;

    font-size: 14px;
    margin: 1px 1px;

    text-align: center;
    text-decoration: none;

    padding: 4px;


    /* white-space: normal;      */
    /* 允許換行 */
    /* word-wrap: break-word;    */
    /* 過長單字換行 */
    /* padding: 0.5em 1em;       */
    /* 保持上下左右內距 */
    /* line-height: 1.4;         */
    /* 讓多行時間距好看 */
    /* height: auto;             */
    /* 高度自動隨內容 */

    /* display: inline-block; */
}

.button2 {
    background-color: rgb(0, 144, 0);
    border-color: #00ff00;
    color: rgb(0, 255, 0);
    border-radius: 8px;

    font-size: 15px;
    margin: 1px 1px;

    width: 48px;

    text-align: center;
    text-decoration: none;

    padding: 4px;

    /* display: inline-block; */
}

textarea {
    border: 2px solid rgb(0, 128, 0);
    border-radius: 6px;
    border-color: rgb(0, 255, 0);
    margin: 0%;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    background: rgb(50, 50, 50);
    color: rgb(0, 255, 0);
    width: 80%;
    font-size: 20px;
}

textarea:focus {
    border: 2px solid;
    border-color: rgb(0, 255, 0);
    box-shadow: 0 0 8px 0 rgb(0, 255, 0);
    background: rgb(70, 70, 70);
    color: rgb(0, 255, 0);
}

input[type="text"] {
    border-radius: 6px;
    font-size: 20px; 
    border: 2px solid rgb(0, 128, 0);
    background-color: rgb(0,255,0);
    border-color: #008000;
}


input[type="text"]:focus {
    background-color: rgb(0,255,0);
}
