[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=TW # 國別
ST=Taiwan # 國名
L=Taipei # 城市
O=instantfun # 組織名稱
OU=dev # 組織底下的部門名稱
emailAddress=jkuangpan@gmail.com # 聯絡用email
CN = localhost

# openssl req -x509 -nodes -new -sha256 -days 390 -newkey rsa:2048 -keyout "RootCA.key" -out "RootCA.pem" -config openssl.cnf
# openssl x509 -outform pem -in "RootCA.pem" -out "RootCA.crt"

# openssl req -new -nodes -newkey rsa:2048 -keyout localhost.key -out localhost.csr -config openssl.cnf
# openssl x509 -req -sha256 -days 1024 -in localhost.csr -CA RootCA.pem -CAkey RootCA.key -CAcreateserial -extfile vhosts_domains.ext -out localhost.crt
